<footer class="ht_footer flw">
    <div class="footer_ flw">
        <div class="container">
            <div class="box_register flw">
                <span>Register today to get your children active and involved with a healthier lifestyle.</span>
                <a data-remodal-target="modal" class="btn_reg">ENROLL NOW</a>
            </div>
            <div class="footer_main flw">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="ft_col">
                            <a href="#" class="lg_bottom"><img src="images/snglogo-white.png" alt="Stretch N Grow Logo"></a>
                            <ul class="info flw">
                                <li>Jillian Sterner</li>
                                <li>Stretch-n-Grow of the Rockies</li>
                                <li>303.957.7971</li>
                                <li><a href="mailto:sngoftherockies@gmail.com">sngoftherockies@gmail.com</a></li>
                                <li>Serving:</li>
                                <li>Broomfield</li>
                                <li>Westminster</li>
                                <li>Thorton</li>
                                <li>Northglenn</li>
                                <li>Arvada</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <div class="ft_col">
                            <h3>Useful links</h3>
                            <ul class="uselink flw">
                                <li><a href="https://app.iclasspro.com/pp/sngoftherockies" target="_blank">Registration Portal</a></li>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="programs.html">Programs</a></li>
                                <li><a href="gallery.html">All Star Photos</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="http://stretchngrow.com/" target="_blank">Stretch-n-Grow.com</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right">
                        <div class="ft_col">
                            <a href="#" class="lg_bottom"><img src="images/snglogo-white.png" alt="Stretch N Grow Logo"></a>
                            <h2 class="pt-40">Popular Programs</h2>
                            <ul class="uselink flw">
                                <li><a href="/camp-fit.html">Camp Fit</a></li>
                                <li><a href="/funtastic-fitness.html">Fitness Stars</a></li>
                                <li><a href="/yoga-stars.html">Yoga Stars</a></li>
                                <li><a href="/kids-dance-party.html">Kids Dance Party</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- social footer -->
        <div class="box_social flw">
            <ul class="footer_social">
                <li><a href="https://www.facebook.com/Stretch-n-Grow-of-the-Rockies-1646057352324989/" class="ion-social-facebook" target="_blank"></a></li>
                <li><a href="https://business.google.com/b/105993999500954372297/dashboard/l/13205322957243303979?hl=en" class="ion-social-googleplus-outline" target="_blank"></a></li>
                <li><a href="https://twitter.com/sternerjillian" class="ion-social-twitter" target="_blank"></a></li>
                <li><a href="https://www.youtube.com/channel/UC419_7EBKfkZcq4BSrGFxBw" class="fa fa-youtube-play" target="_blank"></a></li>
                <li><a href="https://www.instagram.com/sngoftherockies/?hl=en" class="fa fa-instagram" target="_blank"></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright flw">
        Copyright &copy; 2018. Powered by <a href="https://www.trextechnologies.com/" target="_blank">TRex Technologies <img src="images/trex.png" alt="TRex Logo" style="margin-left: 20px; width: 50px" /></a> 
    </div>
</footer>
<div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="col-sm-12">
        <h2>SNG of the Rockies</h2>
        <h6>Teacher: Jillian Sterner</h6>
        <h6>To Create an account and Register classes with SNG of the Rockies, click the link below</h6>
        <br />
        <a href="https://app.iclasspro.com/parentportal/sngoftherockies/register" class="appoint btn remodal-appoint" target="_blank">SNG of the Rockies</a>
    </div>
</div>