<!-- JS files -->
<script src="js/jquery.js"></script>
<!-- smooth scroll -->
<script src="js/jquery.nicescroll.min.js"></script>
<!-- ReModal -->
<script src="js/remodal.min.js"></script>
<!-- menu -->
<script src="js/menu.responsive.js"></script>
<script src="js/scroll.menu.js"></script>
<!-- parallax -->
<script src="js/parallax.materialize.js"></script>
<!-- video lightning -->
<script src="js/video.lightning.js"></script>
<!-- isotope -->
<script src="js/isotope-docs.min.js"></script>
<!-- bx slider -->
<script src="js/jquery.bxslider.min.js"></script>
<!-- gallery classes page -->
<script src="js/jquery.flexslider-min.js"></script>
<!-- couter up -->
<script src="js/waypoints.min.js"></script>
<script src="js/counter.plugin.js"></script>
<!-- slick carousel -->
<script src="js/slick.min.js"></script>
<!-- accordion -->
<script src="js/smk-accordion.js"></script>
<!-- lightbox image -->
<script src="js/imagelightbox.min.js"></script>
<script src="js/light_box_img.js"></script>
<!-- menu sticky -->
<script src="js/uikit.min.js"></script>
<script src="js/sticky.menu.js"></script>
<!-- Form Validation -->
<script src="plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="plugins/sky-forms-pro/skyforms/js/additional-methods.min.js"></script>
<script src="plugins/pnotify/pnotify.custom.min.js"></script>
<!-- wow js -->
<!-- <script src="js/wow.min.js"></script> -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- custom -->
<script src="js/custom.js"></script>
<!-- custom slider -->
<script src="js/slider/jquery.themepunch.tools.min.js"></script>
<script src="js/slider/jquery.themepunch.revolution.min.js"></script>
<script src="js/slider/revolution.extension.actions.min.js"></script>
<script src="js/slider/revolution.extension.carousel.min.js"></script>
<script src="js/slider/revolution.extension.kenburn.min.js"></script>
<script src="js/slider/revolution.extension.layeranimation.min.js"></script>
<script src="js/slider/revolution.extension.migration.min.js"></script>
<script src="js/slider/revolution.extension.navigation.min.js"></script>
<script src="js/slider/revolution.extension.parallax.min.js"></script>
<script src="js/slider/revolution.extension.slideanims.min.js"></script>
<script src="js/slider/revolution.extension.video.min.js"></script>
<script src="js/slider/custom_slider.js"></script>