<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="yoga-stars.html"><img src="images/yoga-stars-new.jpg" alt="Yoga Stars"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="yoga-stars.html" class="name_ flw">Yoga Stars</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Yoga Stars is a program that teaches young children the basics of Yoga. We incorporate stories, music, and play to help children find inner peace in a safe and calm environment. </p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="yoga-stars.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="yoga-stars.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="funtastic-fitness.html"><img src="images/funtastic-fitness.jpg" alt="Fitness Stars"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="funtastic-fitness.html" class="name_ flw">Fitness Stars</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>This weekly early childhood physical education, nutrition and wellness program improves the level of fitness in our Stars and teaches them the importance of a healthy lifestyle and the perils of inactivity.</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="funtastic-fitness.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="funtastic-fitness.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="cheer-squad.html"><img src="images/all-star-cheer-squad.jpg" alt="All Star Cheers Squad"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="cheer-squad.html" class="name_ flw">Cheer Squad</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Whether your child is a novice cheerleader or interested in advancing her skills to the next level, whether she has been cheering for years, or is just starting out, this is the perfect opportunity to take her cheerleading skills to a whole new level!!</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="cheer-squad.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="cheer-squad.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="gymnastics.html"><img src="images/all-star-gymnastics.jpg" alt="All Star Gymnastics"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="gymnastics.html" class="name_ flw">Gymnastics</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>We bring the gym to your school!  All-Star Gymnastics incorporates independent movement and basic social skills while continuing to develop confidence in gross motor skills and beginning tumbling moves and skills.</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="gymnastics.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="gymnastics.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="all-star-sports.html"><img src="images/all-star-sports.jpg" alt="All Star Sports"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="all-star-sports.html" class="name_ flw">Sports</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Our All Star Sports skills program focuses on the skills and technique forBaseball, Basketball, Soccer, Football, Field Hockey, and Track &amp; Field - complete with scrimmages for each sport! </p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="all-star-sports.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="all-star-sports.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="music-stars.html"><img src="images/music-stars.jpg" alt="Music Stars"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="music-stars.html" class="name_ flw">Music Stars</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Music Stars is an exploration and development program filled with songs integrated with physical movement, dramatic play, and exploration of instruments. We incorporate tambourines, triangles, maracas, drums, and more!</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="music-stars.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="music-stars.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="camp-fit.html"><img src="images/camp-fit.jpg" alt="Camp Fit"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="camp-fit.html" class="name_ flw">Camp Fit</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Our action-packed Fitness Boot Camp is sure to get the troops in shape!  Each session - led by CERTIFIED fitness instructors - involves continuous, vigorous activity that incorporates endurance, strength, flexibility and motor skill development - and FUN!</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="camp-fit.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="camp-fit.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!--<div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="field-day.html"><img src="images/field-day.jpg" alt="Field Day"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="field-day.html" class="name_ flw">Field Day</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Bring the EXERCITEMENT of SNG outdoors with this Interactive Festival of FUN!  Stretch-n-Grow brings unique activities to your facility with our Field Day program designed for both preschool and school-aged children!</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="field-day.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="field-day.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="kids-dance-party.html"><img src="images/kids-dance-party.jpg" alt="Kids Dance Party"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="kids-dance-party.html" class="name_ flw">Kids Dance Party</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>The  DANCE FLOOR comes to Your DOOR with Kid's Dance Party!  Your kids will have a BLAST as they learn to move-n-groove and rock-n-roll!  With Kid's Dance Party in the house, there's no sitting down!</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="kids-dance-party.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="kids-dance-party.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="dancing-stars.html"><img src="images/dancing-stars.jpg" alt="Dancing Stars"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="dancing-stars.html" class="name_ flw">Dancing Stars</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Dancing Stars is a Ballet & Creative Dance Program.  Ballet is the foundation for all genres of dance.  Our curriculum is designed to teach our children a life-long love of dance and movement.</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="dancing-stars.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="dancing-stars.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="staff-yoga.html"><img src="images/staff-yoga.jpg" alt="Staff Yoga Classes"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="staff-yoga.html" class="name_ flw">Staff Yoga Classes</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>Stretch-n-Grow would love to serve your workplace community. We offer: weekly staff classes, 1-day - staff appreciation, and team building. We also offer onsite in-service kids yoga teacher training for schools/educators.</p>
                    </div>
                    <a href="tel:13039577971" class="btn_apply">Call Us</a>
                    <a class="more_" href="staff-yoga.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="staff-yoga.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="classes_it">
                <div class="box_img">
                    <a href="all-star-soccer.html"><img src="images/all-star-soccer.png" alt="All Star Soccer"></a>
                    <div class="wave"></div>
                </div>
                <div class="box_suma">
                    <a href="all-star-soccer.html" class="name_ flw">All Star Soccer</a>
                    <div class="rate_ flw">
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                        <span class="ion-ios-heart"></span>
                    </div>
                    <div class="sumary_ flw">
                        <p>The  DANCE FLOOR comes to Your DOOR with Kid's Dance Party!  Your kids will have a BLAST as they learn to move-n-groove and rock-n-roll!  With Kid's Dance Party in the house, there's no sitting down!</p>
                    </div>
                    <a data-remodal-target="modal" class="btn_apply">Register</a>
                    <a class="more_" href="all-star-soccer.html">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="popup_">
                        <a href="all-star-soccer.html" class="btn_popup">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->