<!-- _section_teacher -->
<div class="_section_teacher flw">
    <div class="box_parallax flw">
        <div class="parallax"><img src="images/playground-background.jpg" alt="background playground"></div>
    </div>
    <div class="box_teacher flw">
        <div class="container">
            <div class="teacher_title flw">
                <h2>Your Managing Director</h2>
                <h3>&hearts; Experienced, Caring, Friendly &hearts;</h3>
                <p>Have any questions? Feel free to contact us!</p>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="box_item">
                        <ul class="social_">
                            <li>Serving:</li>
                            <li>Broomfield</li>
                            <li>Westminster</li>
                            <li>Thorton</li>
                            <li>Northglenn</li>
                            <li>Arvada</li>
                            <li><a href="mailto:sngoftherockies@gmail.com" class="fa fa-envelope" style="float:right"></a></li>
                            <li>303.957.7971</li>
                        </ul>
                        <div class="box_img hvr_icon_push">
                            <img src="images/jill2.png" alt="Jillian Sterner">
                        </div>
                        <div class="teacher_info">
                            <a data-remodal-target="modal">Jillian Sterner</a>
                            <span></span>
                            <p>Owner/Director</p>
                            <p>Stretch-n-Grow of the Rockies</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- end _section_teacher -->