<!-- section testim -->
<div class="_section_testim flw">
    <div class="box_parallax flw">
        <div class="parallax"><img src="images/stadium-background.jpg" alt="background stadium"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="testim_title">
                    <h3>Rave Reviews</h3>
                    <h4>&hearts; Don't just take it from us &hearts;</h4>
                    <p>View what others had to say about Stretch n Grow&reg; Programs</p>
                </div>
                <div class="carousel slide" id="testimonial-carousel" date-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                        <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="testim_vd">
                                <h3><a>Tina Pickens</a></h3>
                                <span>Children's Enrichment Program (FUMC)</span>
                                <p>"<b>The music and energy SNG offers is unmatched to anything I have seen during my 15 years in early childhood!</b> The parents frequently comment that SNG is their child's favorite activity!  The newsletters and handouts that go home are educational for the kids and informative for the parents."</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testim_vd">
                                <h3><a>Debbie Beckham</a></h3>
                                <span>WRBC Early Childhood Program</span>
                                <p>"We LOVE the variety the program offers, and we LOVE our SNG coaches! <b>Adding SNG is the VERY best thing we have done to enhance our program.</b>  We chose SNG because Beth Cannon is a godly woman who runs her business with integrity, energy and passion.  Stretch-n-Grow has been with us since our program started in 2000!"</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testim_vd">
                                <h3><a>Nannette Lenz</a></h3>
                                <span>St. John Lutheran Preschool</span>
                                <p>"<b>We knew the importance of physical education and knew that we could never hire and train a teacher to do all that SNG does!</b>  Stretch-n-Grow provides weekly classes for our preschoolers and is our PE provider FIVE days a week for our Pre-K program.  The organization, professionalism and activities are beyond my expectations!  I NEVER have to worry about Stretch-n-Grow!  They deliver every time!"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1">
                <div class="box_location">
                    <ul class="location_">
                        <li><i class="fa fa-certificate"></i></li>
                        <li><span class="cter">112,247</span></li>
                        <li><p>Parents trusted us in USA from 1992.</p></li>
                        <li>
                            <hr>
                            <span class="ion-ios-heart"></span>
                            <span class="ion-ios-heart"></span>
                            <span class="ion-ios-heart"></span>
                            <span class="ion-ios-heart"></span>
                            <span class="ion-ios-heart"></span>
                        </li>
                        <li>
                            <p>
                                There are now literally hundreds of thousands of Stretch-n-Grow "Stars" across the United States and around the world learning to enjoy a healthy lifestyle while building a foundation of fitness and well-being.
                            </p>
                        </li>
                        <li><a data-remodal-target="modal">BOOK YOUR APPOINTMENT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section testim -->